.get {
  color: #ffffff;
  background-color: #325d88;
  padding: .2em .6em .3em;
  border-radius: .25em;
}

.post {
  color: #ffffff;
  background-color: #00A652;
  padding: .2em .6em .3em;
  border-radius: .25em;
}

.patch {
  color: #ffffff;
  background-color: #CB9038;
  padding: .2em .6em .3em;
  border-radius: .25em;
}

.delete {
  color: #ffffff;
  background-color: #AC2027;
  padding: .2em .6em .3em;
  border-radius: .25em;
}

.code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: .2em .6em .3em;
}
