{% load static %}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type='text/javascript' src="{% static 'bootstrap/assets/js/bootstrap.min.js' %}"></script>

<!--TinyMCE Editor-->
<script type='text/javascript' src="{% static 'tiny_mce/tiny_mce.js' %}"></script>

<!-- JQuery Masonry-->
<script type='text/javascript' src="{% static 'masonry/jquery.masonry.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/base.js' %}"></script>
<script type='text/javascript' src="{% static 'js/modal_adaption.js' %}"></script>
<script type='text/javascript' src="{% static 'js/initial.js' %}"></script>
