{% load static %}
 <!-- Le styles -->
<link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'style/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'style/fullcalendar.css' %}" />	
<link rel="stylesheet" href="{% static 'style/unicorn.main.css' %}" />
<link rel="stylesheet" href="{% static 'style/base.css' %}" />
<link rel="stylesheet" href="{% static 'style/unicorn.grey.css' %}" class="skin-color"/>
<link rel="stylesheet" href="{% static 'style/chosen.css' %}" />
<link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}"/>

